.card {
  position: relative;
  width: 300px;
  height: 200px;
  cursor: pointer;
}

.card .img {
  background-image: url('https://cdn.pixabay.com/photo/2022/11/03/06/20/hand-7566739__480.jpg');
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.card .text1 {
  position: absolute;
  bottom: 10px;
  left: 18%;
  /* transform: translateX(-50%); */
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.card .text2 {
  position: absolute;
  bottom: -30px;
  left: 10%;
  /* transform: translateX(-50%); */
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
  font-size: 12px
}

.card:hover .text1 {
  bottom: 40px;
}

.card:hover .text2 {
  bottom: 10px;
  opacity: 1;
}
